<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/dashboard.css" />
    <link rel="stylesheet" href="/public/css/aside.css" />
    <link rel="stylesheet" href="/public/css/bussinesses.css" />
    <link rel="stylesheet" href="/public/css/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <aside>
      <h2>Survue</h2>
      <br />
      <nav>
        <ul>
          <li><a href="/dash">Dashboard</a></li>
          <h3>Account Pages</h3>
          <li><a href="/dash/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <h2>Pages /<span class="currentSite"> {{ title }}</span></h2>
      {% if error.length > 0 %}
          <div class="alert alert-red">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <p>{{ error }}</p>
          </div>
      {% endif %}
      {% if success.length > 0 %}
          <div class="alert alert-green">
              <i class="fa-solid fa-circle-check"></i>
              <p>{{ success }}</p>
          </div>
      {% endif %}
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
