<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/dashboard.css" />
    <link rel="stylesheet" href="/public/css/aside.css">
    <link rel="stylesheet" href="/public/css/bussinesses.css">
  </head>
  <body>
    <aside>
      <h2>Test</h2>
      <br />
      <nav>
        <ul>
          <li><a href="/dash">Dashboard</a></li>
          <li><a href="/dash/logs">Logs</a></li>
          <h3>Account Pages</h3>
          <li><a href="/dash/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
    </aside>
   {% block main %}{% endblock %}
  </body>
</html>
