:root {
    --main: #7B2CBF;
    --bg: #E7E7E7;
    --dark: #5A189A;
    --light: #F0F0F0;
    --gray: #A0A0A0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.survey-container {
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.survey-intro {
    background-color: white;
    padding: 20px;
    box-shadow: -14px 14px 25px 2px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.survey-content {
    background-color: white;
    padding: 20px;
    box-shadow: -14px 14px 25px 2px rgba(0,0,0,0.1);
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.survey-question {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray);
}
.question-title {
    font-size: 20px;
    font-weight: 700;
}

.required {
    color: var(--main);
    font-weight: 400;
}

.question-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.text-label {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--main);
    cursor: pointer;
    transition-duration: 0.3s;
}
.question-options input[type="radio"] {
    display: none;
}
.question-options input[type="radio"]:checked + .text-label {
    background-color: var(--main);
    color: white;
}

.icon-label {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.1s;
    cursor: pointer;
}
.icon-label i {
    font-size: 50px;
    color: var(--dark);
    padding: 5px;
}
.question-options input[type="radio"]:checked + .icon-label {
    background-color: var(--light);
    border-radius: 12px;
}

.survey-question textarea {
    width: 100%;
    height: 100px;
    border-radius: 12px;
    border: 1px solid var(--main);
    resize: none;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 35px;
    padding: 0 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: var(--main);
}

.star-rating input:checked ~ label {
    color: var(--main);
}

.submit-button {
    background-color: var(--main);
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition-duration: 0.3s;
}   
.submit-button:hover {
    background-color: var(--dark);
}

.auth-container {
    width: 500px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: -14px 14px 25px 2px rgba(0,0,0,0.1);;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.auth-form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--main);
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.auth-form label {
    font-size: 16px;
    font-weight: 700;
}
